@import '../../styles/fragments/variables';
@import '../../styles/fragments/placeholders';

@keyframes change-header-background {
  from {
    background-color: transparent;
    box-shadow: none;
  }
  to {
    background-color: lighten($main-color, 20%);
    box-shadow: $medium-box-shadow;
  }
}

.header {
  grid-area: header;
  height: $header-size / 1.5;
  z-index: 500;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: lighten($main-color, 20%);

  @include lg {
    background-color: transparent;
    height: $header-size;
  }

  &.original {
    @include lg {
      animation: change-header-background 1 $between-page-anim-time reverse forwards;
    }
  }

  &.alternate {
    @include lg {
      background-color: lighten($main-color, 20%);
      box-shadow: $medium-box-shadow;
    }
  }

  &.changing_from_root {
    @include lg {
      animation: change-header-background 1 $between-page-anim-time forwards;
    }
  }

  &_content {
    @include flex(center, space-between, row, wrap);
    height: inherit;
    padding: 0 2rem;
  }
}

.brand {
  font-size: 2.25rem;
  font-family: 'Allura', cursive;
  color: $secondary-color;

  @include lg {
    display: flex;
    font-size: 2.5rem;
    height: 100%;
    align-items: center;
  }
}

.main_nav {
  @include flex(flex-start, center, column, nowrap);
  z-index: 10;
  padding: 0 0.5rem;
  min-height: 65px;
  height: fit-content;

  // @import './hamburger';
}
