@import "../../../../variables.scss";

.List {
	list-style: circle;
	line-height: 2;
	text-align: justify;
	padding: 2rem 1rem;
	margin: 0;

	@include sm {
		padding: 0 1rem;
		justify-self: center;
		font-size: 1.1rem;
	}

	@include md {
		padding: 2rem 1rem;
		font-size: 1.2rem;
	}

	@include xl {
		margin: initial;
	}
}
