@import url("https://fonts.googleapis.com/css?family=Allura|Signika:400,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: fit-content(100vh) auto fit-content(80px);
      grid-template-rows: fit-content(100vh) auto fit-content(80px);
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
      grid-template-areas: "header" "main" "footer";
  font-family: "Signika", sans-serif;
  color: #241303;
  font-size: 1.2rem;
  background: url("/brownskinbeauty/public/images/header-bg.jpg") no-repeat, #0c0701;
  background-size: cover;
  background-position: 55% 30%;
  background-attachment: fixed;
}

::-moz-selection {
  background-color: #82450b;
}

::selection {
  background-color: #82450b;
}

section {
  padding: 2rem 1rem;
}

@media (min-width: 1200px) {
  section {
    padding: 2rem 0;
  }
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

.btn {
  cursor: pointer;
  width: 50%;
  padding: 1rem;
  color: #f3c498;
  border: 1px solid #241303;
  background-color: #241303;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, color 250ms ease-in-out, background-color 250ms ease-in-out;
  transition: transform 250ms ease-in-out, color 250ms ease-in-out, background-color 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transition: transform 250ms ease-in-out, color 250ms ease-in-out, background-color 250ms ease-in-out;
  -moz-transition: transform 250ms ease-in-out, color 250ms ease-in-out, background-color 250ms ease-in-out;
  -ms-transition: transform 250ms ease-in-out, color 250ms ease-in-out, background-color 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out, color 250ms ease-in-out, background-color 250ms ease-in-out;
  text-transform: uppercase;
  font-size: 1rem;
  outline: none;
}

@media (min-width: 1200px) {
  .btn {
    color: #241303;
    border: 1px solid #241303;
    background-color: transparent;
  }
}

.btn:hover, .btn:active {
  background-color: #241303;
  color: #f3c498;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.btn-inverse {
  cursor: pointer;
  width: 50%;
  padding: 1rem;
  border: 1px solid #f3c498;
  background-color: #f3c498;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: color 250ms ease-in-out, background-color 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, color 250ms ease-in-out, background-color 250ms ease-in-out;
  transition: transform 250ms ease-in-out, color 250ms ease-in-out, background-color 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  -webkit-transition: transform 250ms ease-in-out, color 250ms ease-in-out, background-color 250ms ease-in-out;
  -moz-transition: transform 250ms ease-in-out, color 250ms ease-in-out, background-color 250ms ease-in-out;
  -ms-transition: transform 250ms ease-in-out, color 250ms ease-in-out, background-color 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out, color 250ms ease-in-out, background-color 250ms ease-in-out;
  text-transform: uppercase;
  font-size: 1rem;
  outline: none;
}

@media (min-width: 1200px) {
  .btn-inverse {
    color: #f3c498;
    border: 1px solid #f3c498;
    background-color: transparent;
  }
}

.btn-inverse:hover, .btn-inverse:active {
  background-color: #f3c498;
  color: #241303;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.scroll {
  background-color: #82450b !important;
}

.text-scroll {
  color: #241303 !important;
}

.text-scroll:hover, .text-scroll:active {
  color: #f3c498 !important;
}

.active {
  color: #f3c498 !important;
}

header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "nav" "headline";
  -ms-grid-rows: 65px auto;
      grid-template-rows: 65px auto;
}

@media (min-width: 1200px) {
  header {
    height: 100vh;
    -ms-grid-rows: 100px auto;
        grid-template-rows: 100px auto;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav;
  z-index: 10;
  background-color: #82450b;
  padding: 0 0.5rem;
  min-height: 65px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: fixed;
  right: 0;
  left: 0;
  transition: opacity 300ms ease-in-out;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -ms-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  /* Animated Hamburger */
}

@media (min-width: 992px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    opacity: 1;
    background-color: transparent;
    font-size: 1.8rem;
    padding: 1rem 2rem;
    height: 100px;
    transition: background-color 300ms ease-in-out;
    -webkit-transition: background-color 300ms ease-in-out;
    -moz-transition: background-color 300ms ease-in-out;
    -ms-transition: background-color 300ms ease-in-out;
    -o-transition: background-color 300ms ease-in-out;
  }
}

.main-nav .mobile-nav {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

@media (min-width: 992px) {
  .main-nav .mobile-nav {
    display: none;
    width: 20%;
  }
}

.main-nav .mobile-nav .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav .mobile-nav .brand img {
  width: 90px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-nav .brand {
  display: none;
  font-size: 2.25rem;
  font-family: "Allura", cursive;
  color: #f3c498;
}

@media (min-width: 992px) {
  .main-nav .brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2.5rem;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1200px) {
  .main-nav .toggle-button__container {
    display: none;
  }
}

.main-nav .toggle-button__container #dropdown-menu__toggle-button {
  width: 35px;
  height: 30px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.main-nav .toggle-button__container #dropdown-menu__toggle-button span {
  display: block;
  position: absolute;
  height: 4px;
  width: 50%;
  background: #f3c498;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.main-nav .toggle-button__container #dropdown-menu__toggle-button span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.main-nav .toggle-button__container #dropdown-menu__toggle-button span:nth-child(odd) {
  left: 0px;
  border-radius: 9px 0 0 9px;
}

.main-nav .toggle-button__container #dropdown-menu__toggle-button span:nth-child(1),
.main-nav .toggle-button__container #dropdown-menu__toggle-button span:nth-child(2) {
  top: 0px;
}

.main-nav .toggle-button__container #dropdown-menu__toggle-button span:nth-child(3),
.main-nav .toggle-button__container #dropdown-menu__toggle-button span:nth-child(4) {
  top: 12px;
}

.main-nav .toggle-button__container #dropdown-menu__toggle-button span:nth-child(5),
.main-nav .toggle-button__container #dropdown-menu__toggle-button span:nth-child(6) {
  top: 24px;
}

.main-nav .toggle-button__container #dropdown-menu__toggle-button.open span:nth-child(1),
.main-nav .toggle-button__container #dropdown-menu__toggle-button.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.main-nav .toggle-button__container #dropdown-menu__toggle-button.open span:nth-child(2),
.main-nav .toggle-button__container #dropdown-menu__toggle-button.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.main-nav .toggle-button__container #dropdown-menu__toggle-button.open span:nth-child(1) {
  left: 3px;
  top: 7px;
}

.main-nav .toggle-button__container #dropdown-menu__toggle-button.open span:nth-child(2) {
  left: calc(50% - 3px);
  top: 7px;
}

.main-nav .toggle-button__container #dropdown-menu__toggle-button.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

.main-nav .toggle-button__container #dropdown-menu__toggle-button.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

.main-nav .toggle-button__container #dropdown-menu__toggle-button.open span:nth-child(5) {
  left: 3px;
  top: 19px;
}

.main-nav .toggle-button__container #dropdown-menu__toggle-button.open span:nth-child(6) {
  left: calc(50% - 3px);
  top: 19px;
}

.main-nav .mobile-menu {
  display: none;
  margin: 0;
  padding: 0.5rem 0;
}

@media (min-width: 992px) {
  .main-nav .mobile-menu {
    display: none !important;
  }
}

.main-nav .mobile-menu .menu-item {
  padding: 0;
  margin: 0;
}

.main-nav .mobile-menu .menu-item .menu-link {
  padding: 0.1rem 0;
  margin: 0.1rem 0;
}

.main-nav .menu {
  display: none;
  margin: 0;
}

@media (min-width: 992px) {
  .main-nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 70%;
    font-size: 1.1rem;
  }
}

@media (min-width: 1200px) {
  .main-nav .menu {
    width: 75%;
    font-size: 1.2rem;
  }
}

.main-nav .menu-item {
  padding: 0;
  margin: 0 0.5rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@media (min-width: 1200px) {
  .main-nav .menu-item {
    padding: 0 0.5rem;
  }
}

.main-nav .menu-item .menu-link {
  text-transform: uppercase;
  display: inline-block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  text-decoration: none;
  color: #f3c498;
  padding: 0.5rem;
  margin: 0.2rem;
  transition: color 300ms ease-in-out, text-shadow 300ms ease-in-out;
  -webkit-transition: color 300ms ease-in-out, text-shadow 300ms ease-in-out;
  -moz-transition: color 300ms ease-in-out, text-shadow 300ms ease-in-out;
  -ms-transition: color 300ms ease-in-out, text-shadow 300ms ease-in-out;
  -o-transition: color 300ms ease-in-out, text-shadow 300ms ease-in-out;
}

.main-nav .menu-item .menu-link:after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.1rem 0;
  content: "";
  border-bottom: 2px solid #532c07;
  transform: scaleX(0);
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
  -webkit-transition: transform 300ms ease-out;
  -moz-transition: transform 300ms ease-out;
  -ms-transition: transform 300ms ease-out;
  -o-transition: transform 300ms ease-out;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  -webkit-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}

.main-nav .menu-item .menu-link:hover, .main-nav .menu-item .menu-link:active {
  color: #241303;
}

@media (min-width: 1200px) {
  .main-nav .menu-item .menu-link:hover, .main-nav .menu-item .menu-link:active {
    color: #9a510d;
  }
}

.main-nav .menu-item .menu-link:hover:after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.header-headline {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: headline;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-headline .cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: absolute;
  width: 100%;
  bottom: 5rem;
  height: 72.5%;
}

@media (min-width: 576px) {
  .header-headline .cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    top: 0rem;
    height: 100%;
  }
}

@media (min-width: 768px) {
  .header-headline .cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 75%;
    top: initial;
    left: initial;
    height: 72.5%;
  }
}

@media (min-width: 992px) {
  .header-headline .cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 75%;
    bottom: 8rem;
    height: 80%;
  }
}

@media (min-width: 1200px) {
  .header-headline .cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    width: 40%;
    left: 5rem;
    bottom: 15rem;
    height: initial;
  }
}

.header-headline .cta p {
  color: #f3c498;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 0 2rem;
}

@media (min-width: 576px) {
  .header-headline .cta p {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .header-headline .cta p {
    width: 100%;
    font-size: 2rem;
    letter-spacing: 8px;
  }
}

@media (min-width: 992px) {
  .header-headline .cta p {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .header-headline .cta p {
    text-align: left;
    width: 100%;
    font-size: 3rem;
    letter-spacing: 10px;
  }
}

.header-headline .cta .btns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
}

@media (min-width: 576px) {
  .header-headline .cta .btns-container {
    width: 25%;
    margin: 0 1rem;
  }
}

@media (min-width: 768px) {
  .header-headline .cta .btns-container {
    margin: 0;
    width: 100%;
  }
}

.header-headline .cta .btns-container .btn-inverse {
  width: 50%;
}

@media (min-width: 576px) {
  .header-headline .cta .btns-container .btn-inverse {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .header-headline .cta .btns-container .btn-inverse {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .header-headline .cta .btns-container .btn-inverse {
    width: 40%;
  }
}

.header-headline .cta .btns-container .btn-inverse:hover, .header-headline .cta .btns-container .btn-inverse:active {
  transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
}

.header-headline .cta .btns-container .know-more {
  text-align: center;
  text-decoration: none;
  color: #241303;
}

@media (min-width: 1200px) {
  .header-headline .cta .btns-container .know-more {
    color: #f3c498;
  }
}

.header-headline .cta .btns-container .know-more:hover, .header-headline .cta .btns-container .know-more:active {
  color: #241303;
}

.main-content {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: fit-content fit-content fit-content(10rem) auto;
      grid-template-rows: -webkit-fit-content -webkit-fit-content fit-content(10rem) auto;
      grid-template-rows: fit-content fit-content fit-content(10rem) auto;
      grid-template-areas: "presentation" "services" "partners" "contact";
}

@media (min-width: 1200px) {
  .main-content {
    -ms-grid-rows: fit-content(35rem) fit-content(40rem) fit-content(50rem) auto;
        grid-template-rows: fit-content(35rem) fit-content(40rem) fit-content(50rem) auto;
  }
}

#presentation {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: presentation;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  text-align: center;
  background: rgba(243, 196, 152, 0.5);
}

#presentation h1 {
  margin: 1rem auto 0rem;
  font-size: 2rem;
}

@media (min-width: 1200px) {
  #presentation h1 {
    font-size: 2.2rem;
    width: 60%;
  }
}

#presentation h2 {
  font-size: 1.6rem;
  margin: 0.5rem auto;
}

@media (min-width: 1200px) {
  #presentation h2 {
    width: 60%;
  }
}

#presentation p {
  margin: 0.5rem auto;
  width: 100%;
}

@media (min-width: 1200px) {
  #presentation p {
    width: 60%;
  }
}

#presentation .presentation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 2rem auto;
  padding: 1rem;
}

@media (min-width: 1200px) {
  #presentation .presentation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 90%;
    height: 20rem;
  }
}

#presentation .presentation-list .presentation-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  margin: 1rem 0 2rem;
}

@media (min-width: 1200px) {
  #presentation .presentation-list .presentation-item {
    margin: initial;
    width: 25%;
    height: 100%;
    min-height: 100%;
  }
}

#presentation .presentation-list .presentation-item img {
  height: 200px;
  width: 200px;
  margin: 1rem 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (min-width: 576px) {
  #presentation .presentation-list .presentation-item img {
    height: 150px;
    width: 150px;
  }
}

@media (min-width: 768px) {
  #presentation .presentation-list .presentation-item img {
    height: 200px;
    width: 200px;
  }
}

#presentation .presentation-list .presentation-item p {
  margin: 1rem;
  text-align: center;
  width: 100%;
}

@media (min-width: 1200px) {
  #presentation .presentation-list .presentation-item p {
    margin: 0;
  }
}

#presentation .ceo {
  font-size: 1.1rem;
}

@media (min-width: 1200px) {
  #presentation .ceo {
    -ms-flex-item-align: end;
        align-self: flex-end;
    text-align: right;
    padding: 2rem 2rem 0;
    margin: 1rem;
    width: 60%;
  }
}

#services {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: services;
  text-align: center;
  border-top: 1px solid rgba(36, 19, 3, 0.1);
  padding: 2rem 0;
  background: rgba(243, 196, 152, 0.5);
}

#services h1 {
  font-size: 2.2rem;
  width: 60%;
  margin: auto;
}

#services p {
  margin: 0.5rem auto;
  padding: 0 1rem;
}

@media (min-width: 1200px) {
  #services p {
    width: 60%;
  }
}

#services .cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 768px) {
  #services .cards-container {
    width: 70%;
    padding: 2rem 0;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  #services .cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin: auto;
    width: 100%;
  }
}

#services .cards-container .card {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 6rem auto;
      grid-template-rows: 6rem auto;
  width: 100%;
  padding: 1rem;
  margin: 2rem 0;
  background-color: #6b3809;
  color: #f3c498;
  border: 1px solid #f3c498;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: 2px 2px 8px #555;
          box-shadow: 2px 2px 8px #555;
}

@media (min-width: 576px) {
  #services .cards-container .card {
    -ms-grid-rows: 4rem auto;
        grid-template-rows: 4rem auto;
  }
}

@media (min-width: 768px) {
  #services .cards-container .card {
    -ms-grid-rows: 6rem auto;
        grid-template-rows: 6rem auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    max-width: 35rem;
  }
}

@media (min-width: 1200px) {
  #services .cards-container .card {
    min-height: 29rem;
    max-width: 23rem;
    margin: 0;
  }
}

#services .cards-container .card h1 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  width: 100%;
  color: #e68326;
  margin: initial;
}

#services .cards-container .card .card-list {
  list-style: circle;
  line-height: 2;
  text-align: justify;
  padding: 2rem 1rem;
  margin: 0;
}

@media (min-width: 576px) {
  #services .cards-container .card .card-list {
    padding: 0 1rem;
    -ms-grid-column-align: center;
        justify-self: center;
    font-size: 1.1rem;
  }
}

@media (min-width: 768px) {
  #services .cards-container .card .card-list {
    padding: 2rem 1rem;
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  #services .cards-container .card .card-list {
    margin: initial;
  }
}

@media (min-width: 1200px) {
  #services .cards-container .card:nth-child(2) {
    margin: 0 2rem;
  }
}

#partners {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: partners;
  background-color: #241303;
  text-align: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  color: #f3c498;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media (min-width: 1200px) {
  #partners {
    height: 25rem;
  }
}

#partners h1 {
  margin: 0;
  padding-bottom: 2rem;
}

#partners .partner-brands {
  height: 70%;
  width: 75%;
}

@media (min-width: 576px) {
  #partners .partner-brands {
    width: 35%;
  }
}

@media (min-width: 768px) {
  #partners .partner-brands {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  #partners .partner-brands {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

#partners .partner-brands img {
  height: 100%;
  width: 100%;
  margin: 1rem 0;
}

@media (min-width: 1200px) {
  #partners .partner-brands img {
    height: 100%;
    width: unset;
    margin: 0;
  }
}

#contact {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: contact;
  padding-top: 0;
  padding: 0 0 2rem;
  background: rgba(243, 196, 152, 0.5);
}

#contact .contact-form__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background: url("/brownskinbeauty/public/images/contact-bg.jpg");
  background-size: cover;
  background-position: 40% 0%;
  height: 45rem;
  padding: 1rem 0;
}

@media (min-width: 1200px) {
  #contact .contact-form__container {
    background-position: 50% 40%;
  }
}

#contact .contact-form__container .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  height: 100%;
  width: 20rem;
}

#contact .contact-form__container .contact-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  margin: 0.5rem 0;
}

#contact .contact-form__container .contact-form label input {
  height: 2rem;
}

#contact .contact-form__container .contact-form label textarea {
  resize: none;
  height: 10rem;
}

#contact .contact-form__container .contact-form label input,
#contact .contact-form__container .contact-form label textarea {
  outline: none;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 90%;
  border: 1px solid #241303;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-box-shadow: 1px 1px 6px #888;
          box-shadow: 1px 1px 6px #888;
}

#contact .contact-form__container .contact-form label input:focus,
#contact .contact-form__container .contact-form label textarea:focus {
  border: 1.5px solid #ab5d14;
  -webkit-box-shadow: 2px 2px 8px #555;
          box-shadow: 2px 2px 8px #555;
}

@media (min-width: 576px) {
  #contact .contact-form__container .contact-form label input,
  #contact .contact-form__container .contact-form label textarea {
    width: 100%;
  }
}

#contact .contact-form__container .contact-form .btn {
  margin: 0.3rem;
}

#contact .contact {
  height: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding-top: 2rem;
}

#contact .contact .map {
  height: 100%;
  width: 100%;
  border: none;
}

#contact .contact .brownskin-contact {
  text-align: center;
  padding: 2rem 2rem 0;
}

#contact .contact .brownskin-contact p {
  margin: 0;
}

#contact .contact .brownskin-contact .btn {
  margin: 2rem 0 0;
}

@media (min-width: 1200px) {
  #contact .contact .brownskin-contact #call {
    display: none;
  }
}

#contact .contact .brownskin-contact #tel {
  display: none;
}

@media (min-width: 1200px) {
  #contact .contact .brownskin-contact #tel {
    display: block;
  }
}

#contact .contact .brownskin-contact img {
  padding-top: 0.5rem;
  height: 80px;
}

.succes {
  color: green;
}

.error {
  color: red;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 1rem;
  color: white;
  background-color: black;
}

@media (min-width: 1200px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
}

footer span {
  padding: 0 0.5rem;
}

footer span.footer-brand {
  padding: 0;
  margin: 0;
  font-family: "Allura", cursive;
  font-size: 1.6rem;
}

footer .dash {
  display: none;
}

@media (min-width: 1200px) {
  footer .dash {
    display: inline;
  }
}

footer a {
  padding: 0 0.5rem;
  text-decoration: none;
  color: white;
}

footer a:hover, footer a:active {
  color: #82450b;
}

footer span,
footer a {
  margin: 0.3rem 0;
}
/*# sourceMappingURL=main.css.map */