@import "./variables";
@import url("https://fonts.googleapis.com/css?family=Allura|Signika:400,700&display=swap");
* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: fit-content(100vh) auto fit-content(80px);
	grid-template-columns: 100%;
	grid-template-areas:
		"header"
		"main"
		"footer";
	font-family: "Signika", sans-serif;
	color: $main-color;
	font-size: 1.2rem;
	//
	background: url("/public/images/header-bg.jpg") no-repeat,
		darken($main-color, 5%);
	background-size: cover;
	background-position: 55% 30%;
	background-attachment: fixed;
}

::selection {
	background-color: lighten($main-color, 20%);
}

section {
	padding: 2rem 1rem;

	@include xl {
		padding: 2rem 0;
	}
}

h1 {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

.btn {
	cursor: pointer;
	width: 50%;
	padding: 1rem;
	color: $secondary-color;
	border: 1px solid $main-color;
	background-color: $main-color;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	transition: transform 250ms ease-in-out, color 250ms ease-in-out,
		background-color 250ms ease-in-out;
	-webkit-transition: transform 250ms ease-in-out, color 250ms ease-in-out,
		background-color 250ms ease-in-out;
	-moz-transition: transform 250ms ease-in-out, color 250ms ease-in-out,
		background-color 250ms ease-in-out;
	-ms-transition: transform 250ms ease-in-out, color 250ms ease-in-out,
		background-color 250ms ease-in-out;
	-o-transition: transform 250ms ease-in-out, color 250ms ease-in-out,
		background-color 250ms ease-in-out;
	text-transform: uppercase;
	font-size: 1rem;
	outline: none;

	@include xl {
		color: $main-color;
		border: 1px solid $main-color;
		background-color: transparent;
	}

	&:hover,
	&:active {
		background-color: $main-color;
		color: $secondary-color;
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-o-transform: scale(1.05);
	}
}

.btn-inverse {
	cursor: pointer;
	width: 50%;
	padding: 1rem;
	border: 1px solid $secondary-color;
	background-color: $secondary-color;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	transition: transform 250ms ease-in-out, color 250ms ease-in-out,
		background-color 250ms ease-in-out;
	-webkit-transition: transform 250ms ease-in-out, color 250ms ease-in-out,
		background-color 250ms ease-in-out;
	-moz-transition: transform 250ms ease-in-out, color 250ms ease-in-out,
		background-color 250ms ease-in-out;
	-ms-transition: transform 250ms ease-in-out, color 250ms ease-in-out,
		background-color 250ms ease-in-out;
	-o-transition: transform 250ms ease-in-out, color 250ms ease-in-out,
		background-color 250ms ease-in-out;
	text-transform: uppercase;
	font-size: 1rem;
	outline: none;

	@include xl {
		color: $secondary-color;
		border: 1px solid $secondary-color;
		background-color: transparent;
	}

	&:hover,
	&:active {
		background-color: $secondary-color;
		color: $main-color;
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
		-ms-transform: scale(1.05);
		-o-transform: scale(1.05);
	}
}

.scroll {
	background-color: lighten($main-color, 20%) !important;
}

.text-scroll {
	color: $main-color !important;

	&:hover,
	&:active {
		color: $secondary-color !important;
	}
}

.active {
	color: $secondary-color !important;
}

header {
	grid-area: header;
	// background: url("/public/images/header-bg.png") no-repeat,
	// 	darken($main-color, 5%);
	// background-size: cover;
	// background-position: 55% 30%;
	// background-attachment: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 100vh;
	display: grid;
	grid-template-areas:
		"nav"
		"headline";
	grid-template-rows: 65px auto;

	@include xl {
		height: 100vh;
		grid-template-rows: 100px auto;
	}
}

.main-nav {
	@include flex(flex-start, space-between, column, nowrap);
	grid-area: nav;
	z-index: 10;
	background-color: lighten($main-color, 20%);
	padding: 2rem 0.5rem;
	height: fit-content;
	position: fixed;
	right: 0;
	left: 0;
	transition: opacity 300ms ease-in-out;
	-webkit-transition: opacity 300ms ease-in-out;
	-moz-transition: opacity 300ms ease-in-out;
	-ms-transition: opacity 300ms ease-in-out;
	-o-transition: opacity 300ms ease-in-out;

	@include lg {
		@include flex(center, space-between, row, wrap);
		opacity: 1;
		background-color: transparent;
		font-size: 1.8rem;
		padding: 1rem 2rem;
		height: 100px;
		transition: background-color 300ms ease-in-out;
		-webkit-transition: background-color 300ms ease-in-out;
		-moz-transition: background-color 300ms ease-in-out;
		-ms-transition: background-color 300ms ease-in-out;
		-o-transition: background-color 300ms ease-in-out;
	}

	.mobile-nav {
		height: 100%;
		width: 100%;
		@include flex(center, space-between, row, nowrap);

		@include lg {
			display: none;
			width: 20%;
		}
		.brand {
			display: block;
		}
	}

	.brand {
		display: none;
		font-size: 2.25rem;
		font-family: "Allura", cursive;
		color: $secondary-color;

		@include lg {
			display: block;
			font-size: 2.5rem;
		}
	}

	/* Animated Hamburger */
	.toggle-button__container {
		@include xl {
			display: none;
		}

		#dropdown-menu__toggle-button {
			width: 35px;
			height: 30px;
			position: relative;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: 0.5s ease-in-out;
			-moz-transition: 0.5s ease-in-out;
			-o-transition: 0.5s ease-in-out;
			transition: 0.5s ease-in-out;
			cursor: pointer;
		}

		#dropdown-menu__toggle-button span {
			display: block;
			position: absolute;
			height: 4px;
			width: 50%;
			background: $secondary-color;
			opacity: 1;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: 0.25s ease-in-out;
			-moz-transition: 0.25s ease-in-out;
			-o-transition: 0.25s ease-in-out;
			transition: 0.25s ease-in-out;
		}

		#dropdown-menu__toggle-button span:nth-child(even) {
			left: 50%;
			border-radius: 0 9px 9px 0;
		}

		#dropdown-menu__toggle-button span:nth-child(odd) {
			left: 0px;
			border-radius: 9px 0 0 9px;
		}

		#dropdown-menu__toggle-button span:nth-child(1),
		#dropdown-menu__toggle-button span:nth-child(2) {
			top: 0px;
		}

		#dropdown-menu__toggle-button span:nth-child(3),
		#dropdown-menu__toggle-button span:nth-child(4) {
			top: 12px;
		}

		#dropdown-menu__toggle-button span:nth-child(5),
		#dropdown-menu__toggle-button span:nth-child(6) {
			top: 24px;
		}

		#dropdown-menu__toggle-button.open span:nth-child(1),
		#dropdown-menu__toggle-button.open span:nth-child(6) {
			-webkit-transform: rotate(45deg);
			-moz-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		#dropdown-menu__toggle-button.open span:nth-child(2),
		#dropdown-menu__toggle-button.open span:nth-child(5) {
			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
		}

		#dropdown-menu__toggle-button.open span:nth-child(1) {
			left: 3px;
			top: 7px;
		}

		#dropdown-menu__toggle-button.open span:nth-child(2) {
			left: calc(50% - 3px);
			top: 7px;
		}

		#dropdown-menu__toggle-button.open span:nth-child(3) {
			left: -50%;
			opacity: 0;
		}

		#dropdown-menu__toggle-button.open span:nth-child(4) {
			left: 100%;
			opacity: 0;
		}

		#dropdown-menu__toggle-button.open span:nth-child(5) {
			left: 3px;
			top: 19px;
		}

		#dropdown-menu__toggle-button.open span:nth-child(6) {
			left: calc(50% - 3px);
			top: 19px;
		}
	}

	.mobile-menu {
		display: none;
		margin: 0;
		padding-top: 2rem;

		@include lg {
			display: none !important;
		}

		.menu-item {
			padding: 0;
			margin: 0;

			.menu-link {
				padding: 0.1rem 0;
				margin: 0.1rem 0;
			}
		}
	}

	.menu {
		display: none;
		margin: 0;

		@include lg {
			@include flex(center, flex-end, row, wrap);
			width: 70%;
			font-size: 1.1rem;
		}

		@include xl {
			width: 75%;
			font-size: 1.2rem;
		}
	}

	.menu-item {
		padding: 0;
		margin: 0 0.5rem;

		height: fit-content;
		width: fit-content;
		@include xl {
			padding: 0 0.5rem;
		}

		.menu-link {
			text-transform: uppercase;
			display: inline-block;
			height: fit-content;
			width: 100%;
			text-decoration: none;
			//color: $main-color;
			color: $secondary-color;
			padding: 0.5rem;
			margin: 0.2rem;
			transition: color 300ms ease-in-out, text-shadow 300ms ease-in-out;
			-webkit-transition: color 300ms ease-in-out, text-shadow 300ms ease-in-out;
			-moz-transition: color 300ms ease-in-out, text-shadow 300ms ease-in-out;
			-ms-transition: color 300ms ease-in-out, text-shadow 300ms ease-in-out;
			-o-transition: color 300ms ease-in-out, text-shadow 300ms ease-in-out;

			&:after {
				display: flex;
				padding: 0.1rem 0;
				content: "";
				border-bottom: 2px solid lighten($main-color, 10%);
				transform: scaleX(0);
				transition: transform 300ms ease-out;
				-webkit-transition: transform 300ms ease-out;
				-moz-transition: transform 300ms ease-out;
				-ms-transition: transform 300ms ease-out;
				-o-transition: transform 300ms ease-out;
				-webkit-transform: scaleX(0);
				-moz-transform: scaleX(0);
				-ms-transform: scaleX(0);
				-o-transform: scaleX(0);
				transform-origin: 0% 50%;
			}

			&:hover,
			&:active {
				color: $main-color;
				@include xl {
					color: lighten($main-color, 25%);
				}
			}

			&:hover:after {
				transform: scale(1);
				-webkit-transform: scale(1);
				-moz-transform: scale(1);
				-ms-transform: scale(1);
				-o-transform: scale(1);
			}
		}
	}
}

.header-headline {
	grid-area: headline;
	position: relative;
	display: flex;
	justify-content: center;

	.cta {
		@include flex(center, space-between, column, nowrap);
		position: absolute;
		width: 100%;
		bottom: 5rem;
		height: 72.5%;

		@include sm {
			@include flex(center, space-between, row, nowrap);
			top: 0rem;
			height: 100%;
		}

		@include md {
			@include flex(center, space-between, column, nowrap);
			width: 75%;
			top: initial;
			left: initial;
			height: 72.5%;
		}

		@include lg {
			@include flex(center, space-between, column, nowrap);
			width: 75%;
			bottom: 8rem;
			height: 80%;
		}

		@include xl {
			@include flex(center, space-between, column, nowrap);
			width: 40%;
			left: 5rem;
			bottom: 15rem;
			height: initial;
		}

		p {
			color: $secondary-color;
			letter-spacing: 5px;
			text-transform: uppercase;
			padding: 0 2rem;

			@include sm {
				width: 40%;
			}

			@include md {
				width: 100%;
				font-size: 2rem;
				letter-spacing: 8px;
			}

			@include lg {
				text-align: center;
			}

			@include xl {
				text-align: left;
				width: 100%;
				font-size: 3rem;
				letter-spacing: 10px;
			}
		}

		.btns-container {
			@include flex(center, center, row, nowrap);
			width: 100%;

			@include sm {
				width: 25%;
				margin: 0 1rem;
			}

			@include md {
				margin: 0;
				width: 100%;
			}

			.btn-inverse {
				width: 50%;

				@include sm {
					width: 100%;
				}

				@include md {
					width: 50%;
				}

				@include xl {
					width: 40%;
				}
				&:hover,
				&:active {
					transform: none;
					-webkit-transform: none;
					-moz-transform: none;
					-ms-transform: none;
					-o-transform: none;
				}
			}

			.know-more {
				text-align: center;
				text-decoration: none;
				color: $main-color;

				@include xl {
					color: $secondary-color;
				}

				&:hover,
				&:active {
					color: $main-color;
				}
			}
		}
	}
}

.main-content {
	grid-area: main;
	display: grid;
	grid-template-rows: fit-content fit-content fit-content(10rem) auto;
	grid-template-areas:
		"presentation"
		"services"
		"partners"
		"contact";
	@include xl {
		grid-template-rows: fit-content(35rem) fit-content(40rem) fit-content(50rem) auto;
	}
}

#presentation {
	grid-area: presentation;
	@include flex(center, center, column, nowrap);
	text-align: center;
	background: rgba($secondary-color, 0.5);

	h1 {
		margin: 1rem auto 0rem;
		font-size: 2rem;

		@include xl {
			font-size: 2.2rem;
			width: 60%;
		}
	}

	h2 {
		font-size: 1.6rem;
		margin: 0.5rem auto;

		@include xl {
			width: 60%;
		}
	}

	p {
		margin: 0.5rem auto;
		width: 100%;

		@include xl {
			width: 60%;
		}
	}

	.presentation-list {
		@include flex(center, space-around, column, nowrap);
		margin: 2rem auto;
		padding: 1rem;

		@include xl {
			@include flex(center, space-around, row, wrap);
			width: 90%;
			height: 20rem;
		}

		.presentation-item {
			@include flex(center, space-between, column, nowrap);
			width: 100%;
			margin: 1rem 0 2rem;

			@include xl {
				margin: initial;
				width: 25%;
				height: 100%;
				min-height: 100%;
			}

			img {
				height: 200px;
				width: 200px;
				margin: 1rem 0;
				border-radius: 50%;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-ms-border-radius: 50%;
				-o-border-radius: 50%;

				@include sm {
					height: 150px;
					width: 150px;
				}

				@include md {
					height: 200px;
					width: 200px;
				}
			}

			p {
				margin: 1rem;
				text-align: center;
				width: 100%;

				@include xl {
					margin: 0;
				}
			}
		}
	}

	.ceo {
		font-size: 1.1rem;

		@include xl {
			align-self: flex-end;
			text-align: right;
			padding: 2rem 2rem 0;
			margin: 1rem;
			width: 60%;
		}
	}
}
#services {
	grid-area: services;
	text-align: center;
	border-top: 1px solid rgba($main-color, 0.1);
	padding: 2rem 0;
	background: rgba($secondary-color, 0.5);

	h1 {
		font-size: 2.2rem;
		width: 60%;
		margin: auto;
	}

	p {
		margin: 0.5rem auto;
		padding: 0 1rem;

		@include xl {
			width: 60%;
		}
	}

	.cards-container {
		@include flex(center, space-between, column, nowrap);
		width: 100%;
		height: fit-content;

		@include md {
			width: 70%;
			padding: 2rem 0;
			margin: auto;
		}

		@include xl {
			@include flex(center, center, row, wrap);
			margin: auto;
			width: 100%;
		}

		.card {
			display: grid;
			grid-template-rows: 6rem auto;
			width: 100%;
			padding: 1rem;
			margin: 2rem 0;
			background-color: lighten($main-color, 15%);
			color: $secondary-color;
			border: 1px solid $secondary-color;
			// min-height: 30rem;
			height: fit-content;
			box-shadow: $medium-box-shadow;

			@include sm {
				grid-template-rows: 4rem auto;
				// min-height: 20rem;
			}

			@include md {
				grid-template-rows: 6rem auto;
				border-radius: 10px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				-ms-border-radius: 10px;
				-o-border-radius: 10px;
				// min-height: 25rem;
				max-width: 35rem;
			}

			@include xl {
				min-height: 29rem;
				max-width: 23rem;
				margin: 0;
			}

			h1 {
				align-self: center;
				text-align: center;
				width: 100%;
				color: darken($secondary-color, 25%);
				margin: initial;
			}

			.card-list {
				list-style: circle;
				line-height: 2;
				text-align: justify;
				padding: 2rem 1rem;
				margin: 0;

				@include sm {
					padding: 0 1rem;
					justify-self: center;
					font-size: 1.1rem;
				}

				@include md {
					padding: 2rem 1rem;
					font-size: 1.2rem;
				}

				@include xl {
					margin: initial;
				}
			}
		}

		.card:nth-child(2) {
			@include xl {
				margin: 0 2rem;
			}
		}
	}
}

#partners {
	grid-area: partners;
	background-color: $main-color;
	text-align: center;
	height: fit-content;
	color: $secondary-color;
	@include flex(center, space-around, column, nowrap);

	@include xl {
		height: 25rem;
	}

	h1 {
		margin: 0;
		padding-bottom: 2rem;

		@include xl {
		}
	}

	.partner-brands {
		height: 70%;
		width: 75%;

		@include sm {
			width: 35%;
		}

		@include md {
			width: 30%;
		}

		@include xl {
			width: 60%;
			@include flex(center, space-around, row, wrap);
		}
		img {
			height: 100%;
			width: 100%;
			margin: 1rem 0;

			@include xl {
				height: 100%;
				width: unset;
				margin: 0;
			}
		}
	}
}

#contact {
	grid-area: contact;
	padding-top: 0;
	padding: 0 0 2rem;
	background: rgba($secondary-color, 0.5);

	.contact-form__container {
		@include flex(center, center, column, nowrap);
		background: url("/public/images/contact-bg.jpg");
		background-size: cover;
		background-position: 40% 0%;
		height: 45rem;
		padding: 1rem 0;

		@include xl {
			background-position: 50% 40%;
		}

		.contact-form {
			@include flex(center, center, column, nowrap);
			height: 100%;
			width: 20rem;

			label {
				@include flex(center, center, column, nowrap);
				width: 100%;
				margin: 0.5rem 0;

				input {
					height: 2rem;
				}

				textarea {
					resize: none;
					height: 10rem;
				}

				input,
				textarea {
					outline: none;
					margin: 0.5rem 0;
					padding: 0.5rem;
					width: 90%;
					border: 1px solid $main-color;
					border-radius: 10px;
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					-ms-border-radius: 10px;
					-o-border-radius: 10px;
					box-shadow: $slight-box-shadow;

					&:focus {
						border: 1.5px solid darken($secondary-color, 40%);
						box-shadow: $medium-box-shadow;
					}

					@include sm {
						width: 100%;
					}
				}
			}
			.btn {
				margin: 0.3rem;
			}
		}
	}

	.contact {
		height: 30rem;
		@include flex(center, space-around, column, nowrap);
		padding-top: 2rem;

		.map {
			height: 100%;
			width: 100%;
			border: none;
		}
		.brownskin-contact {
			text-align: center;
			padding: 2rem 2rem 0;

			p {
				margin: 0;
			}

			.btn {
				margin: 2rem 0 0;
			}

			#call {
				@include xl {
					display: none;
				}
			}

			#tel {
				display: none;

				@include xl {
					display: block;
				}
			}
		}
	}
}

.succes {
	color: green;
}

.error {
	color: red;
}

footer {
	grid-area: footer;
	@include flex(center, center, column, nowrap);
	padding: 1rem;
	color: white;
	background-color: black;

	@include xl {
		@include flex(center, center, row, wrap);
	}

	span {
		padding: 0 0.5rem;
	}

	.dash {
		display: none;

		@include xl {
			display: inline;
		}
	}

	a {
		padding: 0 0.5rem;
		text-decoration: none;
		color: white;

		&:hover,
		&:active {
			color: lighten($main-color, 20%);
		}
	}

	span,
	a {
		margin: 0.3rem 0;
	}
}
