@import './variables';

@import './fragments/global';

@import './fragments/main-nav';

@import './fragments/header';

.main-content {
  grid-area: main;
  display: grid;
  grid-template-rows: fit-content fit-content fit-content(10rem) auto;
  grid-template-areas:
    'presentation'
    'services'
    'partners'
    'news'
    'contact';
  @include xl {
    grid-template-rows: fit-content(35rem) fit-content(40rem) fit-content(50rem) auto;
  }
}

@import './fragments/presentation';

@import './fragments/services';

@import './fragments/partners';

@import './fragments/contact';

@import './fragments/news';

@import './fragments/footer';
