@import "../../../variables.scss";

.Toolbar {
	@include flex(center, space-between, row, wrap);
	grid-area: nav;
	z-index: 10;
	background-color: lighten($main-color, 20%);
	padding: 0 0.5rem;
	min-height: 65px;
	height: fit-content;
	position: fixed;
	right: 0;
	left: 0;
	transition: opacity 300ms ease-in-out;

	@include lg {
		opacity: 1;
		background-color: transparent;
		font-size: 1.8rem;
		padding: 1rem 2rem;
		height: 100px;
		transition: background-color 300ms ease-in-out;
	}
}
