@import "../../variables.scss";

.Contact {
	grid-area: contact;
	padding-top: 0;
	padding: 0 0 2rem;
	background: rgba($secondary-color, 0.5);

	.FormContainer {
		@include flex(center, center, column, nowrap);
		background: url("../../assets/images/contact-bg.jpg");
		background-size: cover;
		background-position: 40% 0%;
		height: 45rem;
		padding: 1rem 0;

		@include xl {
			background-position: 50% 40%;
		}

		h2 {
			font-size: 1.5em;
			font-weight: bold;
		}
	}
}
