@import './fragments/reset';
@import './fragments/variables';
@import './fragments/placeholders';

body {
  font-family: 'Signika', sans-serif;
  color: $main-color;
  font-size: 1.2rem;
  min-height: 100vh;
  background: url('../assets/images/header-bg.jpg') no-repeat, darken($main-color, 5%);
  background-size: cover;
  background-position: 55% 30%;
  background-attachment: fixed;
  line-height: 1.25;
}

#__next {
  display: grid;
  grid-template-rows: ($header-size / 1.5) auto $footer-size;
  grid-template-areas:
    'header'
    'main'
    'footer';
  min-height: 100vh;

  @include lg {
    grid-template-rows: $header-size auto $footer-size;
  }
}

::selection {
  background-color: lighten($main-color, 20%);
  color: $secondary-color;
}

section {
  padding: 2rem 1rem;

  @include xl {
    padding: 2rem 0;
  }
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  margin: 0;
}

.scroll {
  background-color: lighten($main-color, 20%) !important;
  box-shadow: 0 1px 5px $main-color;
}

.text-scroll {
  color: $main-color !important;

  &:hover,
  &:active {
    color: $secondary-color !important;
  }
}

.succes {
  color: green;
}

.error {
  color: red;
}
